#anim {
    .card {
        min-height: 30px;
        text-align: center;
        &:hover {
            transform: scale(1.1);
        }
        &-text {
            min-height: 6em;
        }
    }
}
.bg-light {
    padding-top: 5%;
}
#resultat {
    display: flex;
    hr {
        border-bottom: 2px dashed black;
    }
}
form {
    text-align: center;
}
#total {
    font-size: 1.5rem;
    text-align: center;
}
label {
    font-weight: bold;
}
img {
    width: 100%;
}
.confirm {
    text-align: end;
    padding-right: 10%;
}
.navbar-brand {
    img {
        width: 40px;
        height: 30px;
    }
}
form {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    .form-control {
        border: 1px solid black;
        border-radius: 1%;
    }
}
#Info {
    text-align: center;
    margin-left: 35%;
    height: 100%;
    width: 100%;
    padding-top: 2%;
}
.quantité {
    font-weight: bold;
}
#loader {
    height: 15%;
    width: 15%;
    padding-bottom: 2%;
    padding-right: 7%;
}
span{
    color: red;
}
#argent {
    display: block;
    margin-left: auto;
    height: 20%;
    width: 20%;
    float: right;
    padding-top: 1%;
    padding-right: 1%;
}
strong{
    text-align: center;
}
#resume{
    padding-left: 5%;
    padding-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#fb{
    width: 10%;
    margin-right: 5%;
    margin-left: 25%;
}
#twitter{
    width: 10%;
    margin-right: 5%;
}
#insta{
    width: 10%;
}