#anim {
    .card {
        min-height: 30px;
        text-align: center;
        &:hover {
            transform: scale(1.1);
        }
        &-text {
            min-height: 6em;
        }
    }
}
.bg-light {
    padding-top: 5%;
}
#resultat {
    display: flex;
    hr {
        border-bottom: 2px dashed black;
    }
}
form {
    text-align: center;
}
#total {
    font-size: 1.5rem;
    text-align: center;
}
label {
    font-weight: bold;
}
img {
    width: 100%;
}

.navbar-brand {
    img {
        width: 40px;
        height: 30px;
    }
}
form {
    padding-top: 5%;
    width: 80%;
    margin: auto;
    .form-control {
        border: 1px solid black;
        border-radius: 1%;
    }
}
#Info {
    text-align: center;
    margin-left: 35%;
    height: 100%;
    width: 100%;
    padding-top: 2%;
}
.quantité {
    font-weight: bold;
}
#loader {
    height: 15%;
    width: 15%;
    padding-bottom: 2%;
    padding-right: 7%;
}
span{
    color: red;
}
strong{
    text-align: center;
}
#resume{
    padding-left: 5%;
    padding-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#fb{
    width: 10%;
    margin-right: 5%;
    margin-left: 25%;
}
#twitter{
    width: 10%;
    margin-right: 5%;
}
#insta{
    width: 10%;
}
@media (min-width: 320px) and (max-width: 1023px) {
    #Info {
      margin-left: 0%;
    }
    #anim {
        .card {
            min-height: 30px;
            text-align: center;
            &:hover {
                transform: scale(1.0);
            }
            &-text {
                min-height: 6em;
            }
        }
    }
}
@media screen and (min-width:320px) and (max-width:320px){
    h2, h3, h4{
        font-size: x-large;
    }
    #envoi{
        margin-left: 7%;
    }
    .list-inline {
        display: grid;
    }
}